Repository junioroga/tmr: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, eslint, markdown-link-check, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    type-check:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn lint {staged_files}
    markdown-link-check:
      glob: '*.md'
      run: yarn markdown-link-check {staged_files}
    test:
     glob: "*.{js,jsx,ts,tsx}"
     run: yarn test -b --findRelatedTests {staged_files}

commit-msg:
  parallel: true
  commands:
    lint-commit-msg:
      run: yarn commitlint --edit "$1"

chore: update tamagui and expo
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: none

chore: update biome configuration
  .vscode/settings.json
Due: none

feat: removing deprecated steps lib and creating the same behavior with reanimated
  app/(tabs)/(home)/Form/SecondStep.tsx
  app/(tabs)/(home)/Form/index.tsx
  package.json
  src/components/AnimatedInput/AnimatedInput.tsx
  src/components/Button/Button.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Input/Input.tsx
  src/components/SplashScreen/SplashScreen.tsx
  src/components/Stepper/AnimatedLine.tsx
  src/components/Stepper/StepItem.tsx
  src/components/Stepper/Stepper.tsx
  src/components/Stepper/index.ts
  src/components/TabBar/TabBar.tsx
  src/components/Text/Text.tsx
  src/components/index.ts
  yarn.lock
Due: type-check, eslint, test

feat: improve splashscreen animation
  src/components/SplashScreen/SplashScreen.tsx
Due: type-check, eslint, test

chore: upgrade expo to 53, react native to 0.79 and tamagui
  .vscode/settings.json
  app.json
  app/(tabs)/(home)/Form/index.tsx
  package.json
  src/components/TabBarButton/TabBarButton.tsx
  yarn.lock
Due: type-check, eslint, test

test: adjust path
  app/(tabs)/(history)/Header/__tests__/Header.spec.tsx
Due: type-check, eslint, test

chore: update yarn and expo version
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  app.json
  package.json
  yarn.lock
Due: none

chore: update expo libs
  README.md
  package.json
  yarn.lock
Due: markdown-link-check
